<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<filter>
		<filter-name>CacheFilter</filter-name>
		<filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
		<init-param>
		    <param-name>ExpiresDefault</param-name>
		    <param-value>access plus 15 minutes</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
		<init-param>
		    <param-name>ExpiresDefault</param-name>
		    <param-value>access plus 0 minutes</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
 	<mime-mapping>
		<extension>vxml</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
 	<mime-mapping>
		<extension>xml</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
 	<mime-mapping>
		<extension>userdict</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
 	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>grxml</extension>
		<mime-type>application/srgs+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wav</extension>
		<mime-type>audio/wav</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ulaw</extension>
		<mime-type>audio/basic</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>application/javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gram</extension>
		<mime-type>application/x-swi-grammar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ivc</extension>
		<mime-type>audio/x-ivb</mime-type>
	</mime-mapping>
</web-app>
